{% extends 'base.html'%}

{% block title %}About{%endblock title%}

{% block body %}

<img style="height:30vh;margin-top:50px;margin-left:550px;border:2px solid dodgerblue;border-radius:50%;"
src="https://image.freepik.com/free-vector/avatar-smiling-boy-facial-expression-icon-isolated-from-white-background_102172-300.jpg" alt="avatar"/>

<h1 style="color:orangered;margin-top:20px;margin-left:560px;">About Us</h1>
<hr style="width:80%;margin:auto;margin-bottom:30px;"/>
<h4 style="margin-left:140px;">Hey there, This is Surya Prakash (Sanny) . I am an Web , App and Software Development Instructor.<br/>On this Platform I am providing you with whole courses which is supposed to be for Web and App <br/> Development in just $150.</h4>
{%endblock body%}