
{% extends 'base.html'%}


{% block title %}Home{%endblock title%}

{% block body   %} 

<div style="display:flex;align-items:center;justify-content:center;">
  <div style="margin-right:300px;margin-left:100px;">
    <h1 style="font-size:58px;"> <span style="color:orangered;">Empowering</span> <br/> the  <span style="color:dodgerblue;">Future</span>  <br/> with <span style="color:orangered;">Coding</span></h1>
    <button style="color:white;background-color:black;height:12vh;width:18vw;font-size:35px;border:none;border-radius:20px;"><a style="text-decoration:none;color:white;" href="/services">Get Started</a></button>
  </div>
  <div style="margin-top:40px;">
    <img style="height:80vh;width:90%;" src="https://th.bing.com/th/id/OIP.4MbqH3IEvhahXF1bcHQW1AHaFu?pid=ImgDet&w=800&h=618&rs=1" alt="home"/>
  </div>   
</div>


{%endblock body%}